<div class="thumbnail center well well-small text-center">
  <h2>Newsletter</h2>
    
  <p>Subscribe to our weekly Newsletter and stay tuned.</p>
    
  <form action="" method="post">
    <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
        <input type="text" id="" name="" placeholder="your@email.com">
    </div>
    <br />
    <input type="submit" value="Subscribe Now!" class="btn btn-large" />
  </form>
</div>
<ul class="thumbnails">
  <li class="span5 clearfix">
    <div class="thumbnail clearfix">
      <img src="http://placehold.it/320x200" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'>
      <div class="caption" class="pull-left">
        <a href="http://bootsnipp.com/" class="btn btn-primary icon  pull-right">Select</a>
        <h4>
          <a href="#" >Luis Felipe Kaufmann</a>
        </h4>
        <small> <b>RG:</b>
          99384877
        </small>

      </div>
    </div>
  </li>
  <li class="span5 clearfix">
    <div class="thumbnail clearfix">
      <img src="http://placehold.it/320x200" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'>
      <div class="caption" class="pull-left">
        <a href="http://bootsnipp.com/" class="btn btn-primary icon  pull-right">Select</a>
        <h4>
          <a href="#" >Luis Felipe Kaufmann</a>
        </h4>
        <small> <b>RG:</b>
          99384877
        </small>

      </div>
    </div>
  </li>
  <li class="span5 clearfix">
    <div class="thumbnail clearfix">
      <img src="http://placehold.it/320x200" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'>
      <div class="caption" class="pull-left">
        <a href="http://bootsnipp.com/" class="btn btn-primary icon  pull-right">Select</a>
        <h4>
          <a href="#" >Luis Felipe Kaufmann</a>
        </h4>
        <small>
          <b>RG:</b>
          99384877
        </small>

      </div>
    </div>
  </li>
  <li class="span5 clearfix">
    <div class="thumbnail clearfix">
      <img src="http://placehold.it/320x200" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'>
      <div class="caption" class="pull-left">
        <a href="http://bootsnipp.com/" class="btn btn-primary icon  pull-right">Select</a>
        <h4>
          <a href="#" >Luis Felipe Kaufmann</a>
        </h4>
        <small>
          <b>RG:</b>
          99384877
        </small>

      </div>
    </div>
  </li>
  <li class="span5 clearfix">
    <div class="thumbnail clearfix">
      <img src="http://placehold.it/320x200" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'>
      <div class="caption" class="pull-left">
        <a href="http://bootsnipp.com/" class="btn btn-primary icon  pull-right">Select</a>
        <h4>
          <a href="#" >Luis Felipe Kaufmann</a>
        </h4>
        <small>
          <b>RG:</b>
          99384877
        </small>

      </div>
    </div>
  </li>
  <li class="span5 clearfix">
    <div class="thumbnail clearfix">
      <img src="http://placehold.it/320x200" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'>
      <div class="caption" class="pull-left">
        <a href="http://bootsnipp.com/" class="btn btn-primary icon  pull-right">Select</a>
        <h4>
          <a href="#" >Luis Felipe Kaufmann</a>
        </h4>
        <small>
          <b>RG:</b>
          99384877
        </small>

      </div>
    </div>
  </li>

</ul>
<style>
    #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }
</style>
<form id="custom-search-form" class="form-search form-horizontal pull-right">
    <div class="input-append span12">
        <input type="text" class="search-query" placeholder="Search">
        <button type="submit" class="btn"><i class="icon-search"></i></button>
    </div>
</form>