<div class="row-fluid">
  <div class="col-md-12">
    <div class="version-container">
      <h1>Etion </h1>
      <h2>V4.0 Beta 概念版</h2>
      <div class="version-details">
        <h4>基于Bootstrap+Angularjs UI,Beego MVC 构建的一个PAAS平台!</h4>
      </div>
      <div class="version-actions">
        <a href="http://beego.me" target="_blank" class="btn btn-primary btn-lg"> 
          <i class="icon-chevron-left"></i>
          Beego MVC官网
        </a>
        <a href="http://www.bootcss.com" target="_blank" class="btn btn-default btn-lg"> 
          <i class="icon-twitter"></i>
          Bootstrap文档
        </a>
      </div>
    </div>
  </div>
</div>